<section class='feature-overview'>
    <img class='feature-overview__img' src='../assets/images/kalender.svg' alt='Kalenderübersicht' />
    <div class='feature-overview__text'>
        <h3 class='feature-overview__title'>Plane deinen Tag mit wenigen Swipes</h3>
        <ul class='feature-overview__list'>
            <li class='feature-overview__item'>
                <h4 class='feature-overview__feature'>Kalenderübersicht</h4>
                <p class='feature-overview__description'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod.</p>
            </li>
            <li class='feature-overview__item'>
                <h4 class='feature-overview__feature'>Kalenderübersicht</h4>
                <p class='feature-overview__description'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod.</p>
            </li>
            <li class='feature-overview__item'>
                <h4 class='feature-overview__feature'>Kalenderübersicht</h4>
                <p class='feature-overview__description'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod.</p>
            </li>
        </ul>
    </div>
    </div>
</section>