<section class='hero'>
    <div class='hero__text'>
        <p class='hero__overline'>Die einfachste ToDo-App</p>
        <h2 class='hero__title'>Arbeit und Freizeit perfekt organisiert</h2>
        <div class='hero__ctas'>
            <a class='hero__cta-mac' href='#'><img src='../assets/images/app-store.png'> </a>
            <a class='hero__cta-google' href='#'><img src='../assets/images/app-store-google.png' /> </a>
        </div>
    </div>
    <div class='hero__img'><img src='../assets/images/iphone-bg.png' alt='' /></div>

    <div class='hero__references'>
        <p class='hero__reference-title'>Bekannt aus</p>
        <ul class='hero__reference-list'>
            <li class='hero__reference-list-item'><img src='../assets/images/handelsblatt.png'
                    alt='das Handelsblatt logo' /></li>
            <li class='hero__reference-list-item'><img src='../assets/images/zeit.png' alt='die Zeit logo' /></li>
            <li class='hero__reference-list-item'><img src='../assets/images/sueddeutsche.png'
                    alt='Die Süddeutsche Zeitung logo' /></li>
        </ul>
    </div>


</section>