<nav class='nav'>
    <div class="nav__menuToggle">
        <input class="nav__checkbox" type="checkbox" />
        <span class="nav__hamburger"></span>
        <ul class='nav__links'>
            <li><a class="nav__link" href="{{site.baseurl}}/features" alt="Features">Features</a></li>
            <li><a class="nav__link" href="{{site.baseurl}}/releases" alt="Releases">Releases</a></li>
            <li><a class="nav__link" href="{{site.baseurl}}/community" alt="Community">Community</a></li>
            <li><a class="nav__download" href="https://apps.apple.com/de/browse" target="_blank"
                    alt="Download">Download</a></li>
        </ul>
    </div>
</nav>