<section class='newsletter-signup'>
    <div class='newsletter-signup__container'>
        <h3 class='newsletter-signup__title'>Bleib auf dem Laufenden</h3>
        <p class='newsletter-signup__text'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod.
        </p>
        <form class='newsletter-signup__form'>
            <input class='newsletter-signup__input' type="email" placeholder="Deine E-Mail Adresse">
            <button class='newsletter-signup__submit' type='submit'></button>
        </form>
    </div>
</section>