//container
// $card:200px;
// $sm:640px;
// $md:768px;
$container-s:383px;
$container-sm:420px;
$container-m:485px;
$container-xl:1126px;


//fonts
$font: "SF Display";

//border-radius
$r-10:10px;


//color
$white:white;
$black:black;
$grey:#969696;
$grey-font:#7C7F7E;
$cta-hover: #9EE5C8;
$background-grey: #FBFBFB;

//typography-size

$h2:52px;
$h3:40px;
$h4:24px;
$h5:35px;

$p-1:26px;
$p-2:20px;
$p-3:18px;
$p-4:16px;
$p-5:14px;




//spacing
$px:1px;
$s-1:4px;
$s-2:8px;
$s-3:12px;
$s-4:16px;
$s-5:20px;
$s-6:24px;
$s-8:32px;
$s-10:40px;
$s-12:48px;
$s-16:64px;
$s-20:80px;
$s-24:96px;
$s-32:128px;
$s-46:200px;

//measurements
$m-0:0;
$m-1:0.25rem;
$m-2:0.5rem;
$m-3:0.75rem;
$m-4:1rem;
$m-5:1.25rem;
$m-6:1.5rem;
$m-8:2rem;
$m-10:2.5rem;
$m-12:3rem;
$m-16:4rem;
$m-20:5rem;
$m-24:6rem;
$m-32:8rem;
$m-40:10rem;
$m-48:12rem;
$m-56:14rem;
$m-64:16rem;
$m-auto:auto;
$m-1-2:50%;
$m-1-3:33.3333333333%;
$m-2-3:66.6666666667%;
$m-1-4:25%;
$m-2-4:50%;
$m-3-4:75%;
$m-full:100%;
$m-screen-w:100vw;
$m-screen-h:100vh;